<p id="notice"><%= notice %></p>

<p>
  <strong>Close day:</strong>
  <%= @closement.close_day %>
</p>

<%= link_to 'Edit', edit_closement_path(@closement) %> |
<%= link_to 'Back', closements_path %>
