
  <% if @group!="3" then %>
  <%= render "common/menu1" %>
  <% else %>
    <%= render "common/menu" %>
  <% end %>

<div class="query">
<%=  render "queryform"  %>
</div>
<div class="show">

</div>
