<div class="row menu">
<%= if @page=='change' then render "common/menu" end %>
</div>
<div class="query">
<%= if @page=='change' then render "queryform" end  %>
</div>

<div class="show">
<%= render "showform"%>
</div>
