
<%= @stats%>
<h1>INVOICE單</h1>

<div class="d-flex flex-row  align-items-center">
客戶編號：
<input class="box form-control col-lg-1" size="9"  type="text"  id="input0" >




   <div class="d-flex flex-row justify-content-between align-items-center" >
      年：
     <select id="date_yy" class="custom-select col-lg-6" required>

       <option value="2020">2020 </option>
       <option value="2021">2021 </option>
       <option value="2022">2022 </option>
       <option value="2023">2023 </option>
       <option value="2024">2024 </option>
       <option value="2025">2025 </option>
       <option value="2026">2026 </option>
       <option value="2027">2027 </option>
       <option value="2028">2028 </option>
       <option value="2029">2029 </option>
       <option value="2030">2030 </option>

     </select>
月：
     <select id="date_mm" class="custom-select col-lg-5" required>


       <option value="01">01</option>
       <option value="02">02</option>
       <option value="03">03</option>
       <option value="04">04</option>
       <option value="05">05</option>
       <option value="06">06</option>
       <option value="07">07</option>
       <option value="08">08</option>
       <option value="09">09</option>
       <option value="10">10</option>
       <option value="11">11</option>
       <option value="12">12</option>
     </select>
　　　　　
     <select id="​​nwonstaff" class="custom-select col-lg-5" required>
       <option　value="Katherine"> Katherine</option>
       <option value="秀錦">秀錦</option>
       <option value="may">may</option>
       <option value="Karen">Karen</option>
       <option value="vicky">vicky</option>
       <option value="SABRINA">SABRINA</option>
       <option value="素芳">素芳</option>
         資訊部權限</select>
   </div>

 </div>

 <div style="padding:13px;">
 <button id="query_acc" type="button" class="btn btn-primary" ><%= (I18n.t :query, scope: [ :buttons ]) %></button>

 <button id="reset_button" type="button" class="btn btn-danger"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="create_acc" class="btn btn-primary" >新增</button>
 </div>
